/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Fonts*/
@font-face {
    font-family: Ruleway;
    src:url('../font/raleway_thin-webfont.eot');
    src:url('../font/raleway_thin-webfont.woff') format('woff'),
        url('../font/raleway_thin-webfont.ttf') format('truetype'),
        url('../font/raleway_thin-webfont.svg') format('svg');
}
@font-face {
    font-family: Montserrat;
    src:url('../font/Montserrat-Light.otf') format("opentype");;
}
/*Global*/ 
html *{
    font-family: inherit;
    font-weight: inherit;
}
html, body {
    font-family: Ruleway, 'Arial';
    margin: 0px;
    padding: 0px;
    color: black;
}
h1 {
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 15px;
}
h2 {
    font-size: 3em;
    text-transform: uppercase;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 0.5em;
}
p {
    font-size: 1em;
    font-family: Arial;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
a:link, a:visited, a:hover, a:active   {
    color: #0084c2;
}
/*Classes*/
.box {
    width: 450px;
    text-align: left;
    padding: 15px;
    line-height: 3em;
    color: black;
}
.breaker {
    min-height: 50vh;
}
.center-text {
    text-align: center;
}
.fa:hover {
    cursor: pointer;
}
.fade {
    opacity: 0;
}
.flexbox {
    -ms-box-orient: horizontal;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;        
    vertical-align: middle;     
}
.flexbox-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flexbox-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}
.flexbox-align-items-flex-end {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.flexbox-justify-content-center {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
.flexbox-justify-space-around {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}
.flexbox-align-items-center {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.flexbox-align-items-start {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.footer {
    font-size: 0.75em;
}
.facebook-likebox { 
    overflow: hidden; 
}
.intro-text {
    color: white;
    width: 100%;
    font-family: Montserrat, 'Arial';
}
.intro-text h1, .intro-text h3, .intro-text p, .intro-text i {
    opacity: 0;
}
.fullscreen {
    min-height: 100vh;
}
.landing-background-image {
    background: url(../img/dennis.jpg) no-repeat center center;
}
.amsterdam-background-image {
    background: url(../img/amsterdam.jpg) no-repeat center center fixed; 
}
.ultra-background-image {
    background: url(../img/ultra.jpg) no-repeat center center fixed; 
}
.plane-background-image {
    background: url(../img/plane.jpg) no-repeat center center fixed; 
}
.friend-background-image {
    background: url(../img/friend.jpg) no-repeat center center fixed; 
}
.background-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.visible-desktop {
    display: block;
}
.visible-phone {
    display: none;
}
/* Animations */

/*
==============================================
floating
==============================================
*/
.floating{
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(8%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}
@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(8%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}

/* Grow */
.bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce-in:hover, .bounce-in:focus, .bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*Media querys*/
@media only screen and (max-width: 1170px) {
    h1 {
        font-size: 2.5em;
    }
    .box {
        line-height: 2em;
    }
    .desktopIndicator {
        display: none;
    }
    .visible-desktop {
        display: none;
    }
    .visible-phone {
        display: block;
    }
}